<div class="columns">
  <div class="column col-4 col-mx-auto card">
    <div class="card-header">
      <h2><%= I18n.t('authy_verify_installation_title', {:scope => 'devise'}) %></h2>
    </div>

    <%= verify_authy_installation_form class: 'card-body authy-form' do %>
      <legend><%= I18n.t('submit_token_title', {:scope => 'devise'}) %></legend>
      <div class="form-group">
        <%= label_tag 'authy-token', 'Token', class: 'form-label' %>
        <%= text_field_tag :token, "", :autocomplete => :off, :id => 'authy-token', class: 'form-input' %>
      </div>

      <p><%= authy_request_sms_link %></p>

      <div class="actions">
        <%= submit_tag I18n.t('enable_my_account', {:scope => 'devise'}), :class => 'btn' %>
      </div>
    <% end %>
  </div>
</div>