<!DOCTYPE html>
<html>
  <head>
    <title>AuthyDeviseDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar">
      <section class="navbar-section">
      </section>
      <section class="navbar-section navbar-center">
        <%= link_to "Authy Devise Example", root_path, class: "navbar-brand" %>
      </section>
      <section class="navbar-section">
      </section>
    </header>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
