<!DOCTYPE html>
<html>
  <head>
    <title>AuthyDeviseDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar">
      <section class="navbar-section">
      </section>
      <section class="navbar-section navbar-center">
        <%= link_to "Authy Devise Example", root_path, class: "navbar-brand" %>
      </section>
      <section class="navbar-section">
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: "btn btn-link" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-link" %>
        <% end %>
      </section>
    </header>

    <main class="container">
      <% flash.each do |level, text| %>
        <div class="<%= flash_class(level) %>">
          <p><%= text %></p>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
